<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <h1><span class="fa fa-sign-in"></span> Edit Beer</h1>

        <!-- LOCAL INFORMATION -->
		 <!-- LOGIN FORM -->
    <form action="/updatebeer/<%= beer._id %>" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="<%= beer.name %>">
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" name="type" value="<%= beer.type %>">
        </div>
		<div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" name="quantity" value="<%= beer.quantity %>">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Update</button>
    </form>
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= beer._id %><br>
                        <strong>name</strong>: <%= beer.name %><br>
                        <strong>type</strong>: <%= beer.type %>
						<strong>quantity</strong>: <%= beer.quantity %>
                    </p>

            </div>
        </div>-->

     <hr>

    <p>Or go <a href="/">home</a>.</p>


</div>
</body>
</html>